* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(20, 14, 71, 0.6);
    backdrop-filter: blur(2px);
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 40px;
}

.logo {
    width: 140px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.btn {
    text-decoration: none;
    color: #000;
    background: #ffe331;

    padding: 15px;
    text-align: center;
    font-weight: bold;

    border: 4px solid #000;
    box-shadow: 6px 6px 0 #000;

    transition: all 0.15s ease;
}

.btn:hover {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 0 #000;
}

@media (max-width: 400px) {
    .buttons {
        width: 100%;
    }
}
